<!doctype html>
<html>

<head>
  <title>
    Placement Portal : IIIT Kalyani
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#204584">
  <meta name="msapplication-navbutton-color" content="#204584">
  <meta name="apple-mobile-web-app-status-bar-style" content="#204584">
  <link rel="icon" href="{{ url_for('static', filename='img/logo_small.png') }}">
</head>

<body>
  <div id="header">
    <div id="logo-holder">
      <div id="logo" style="height:125px; display: flex; align-items: center;">
        <img src="{{ url_for('static', filename='img/logo.png') }}" style="height: 90%; width: auto;">
      </div>
    </div>
    <div id="nav" class="nav">
      <a href="#home">Home</a>
      <a href="#about" class="blue-background">About</a>
    </div>
    <div id="nav-mobile" class="nav">
      <a href="javascript:void(0)" onclick="$('#mobile-menu').css('display','flex')" class="blue-background">Menu</a>
    </div>
  </div>
  <div class="login-block">
    <h1>Login</h1>
    <input type="text" value="" placeholder="Username" id="username" />
    <input type="password" value="" placeholder="Password" id="password" />
    <button>Login</button>
  </div>
  <div id="footer">
    <div id="footer-logo">
    </div>
    <div id="footer-credits">
      Copyright &copy; 2019 Level1Hack
    </div>
  </div>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <script type="text/javascript" src="js/main.js"></script>
</body>

</html>